.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.procuct-container {
    margin-left: 50px;
    border-right: 1px solid;
}

.cart-container {
    border: 2px solid sandybrown;
    padding: 15px;
}